# ============================================================
# .gitignore - Sistema de Gestión de Citas Médicas
# Clínica Stella Maris - UTP 2026
# ============================================================

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA (por si alguien del equipo lo usa)
.idea/
*.iws
*.iml
*.ipr

# Logs generados por Logback
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno y configuración sensible
.env
application-prod.properties

# Archivos compilados
*.class
*.jar
*.war
*.ear