# Maven
backend/target/

# Logs
logs/
*.log

# Variables de entorno — NUNCA subir
.env
backend/src/main/resources/application-prod.properties

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store
node_modules/
